mixin checkbox(name, text, checked)
  label
    if(checked == "1")
      input(class="checkbox" type="checkbox" name="check-box-"+name checked)
    else
      input(class="checkbox" type="checkbox" name="check-box-"+name )
    span(class="checkbox-custom")
    span(class="checkbox_label")= text