.checkbox {
  display: none;
}
.checkbox-custom {
  position: relative;
  width: 14px;
  height: 14px;
  border: 2px solid #36221c;
  border-radius: 3px;
}
.checkbox-custom,
.checkbox_label {
  display: inline-block;
  vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before {
  content: "\2714";
  font-weight: lighter;
  font-size: 25px;
  color: #4c204e;
  display: block;
  position: absolute;
  top: -11px;
  left: 0px;
}
.checkbox_label {
  margin-left: 7px;
}