mixin form-check-box()
  .form-check-box
    .form-check-box_text
      h2= "Расскажите о себе чекбоксами"
      p= "Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться."