extends ../../common.blocks/base/base

include ../../common.blocks/logo/logo
include ../../common.blocks/form-data/form-data

block title
  |IO-Group Анкета Малышев Алексей Викторович
block main
  .logo-position
    +logo
  .form-data-position
    +formData("Малышев Алексей Викторович","1995","г. Томск","deadka1313","deadka1313@gmail.com")
  