@import '../../common.blocks/_common/style.scss';
@import '../../common.blocks/logo/logo.scss';
@import '../../common.blocks/form-data/form-data.scss';
@import '../../common.blocks/form-check-box/form-check-box.scss';

.logo-position {
  padding: 132px 0 0 0;
}

.form-data-position {
  width: 866px;
  margin: 103px auto 0 auto;
}

.form-check-box-position {  
  width: 866px;
  margin: 0 auto 0 auto;
}