.date {
  padding: 0 0 0 46px;

  //Для выравнивания по макету по центру
  margin-left: -3px;
  margin-right: 3px;

  &_line {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 20.5px;
  }
  &_left {
    font-size: 22.43px;
    padding-top: 17px;
    padding-right: 25px;
    color: #2f1b15
  }
  &_right {
    width: 195px;
    font-family: 'Conv_roboto-Light';
    font-size: 30px;    
    border-bottom: 2px solid #4c204e;
    padding-left: 10px;
    padding-bottom: 3px;
    color: #231f20;
  }
}