@font-face {
  font-family: 'Conv_roboto-Regular';
  src: url('../../fonts/roboto-Regular.eot');
  src: local('☺'), url('../../fonts/roboto-Regular.woff') format('woff'), url('../../fonts/roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Conv_roboto-Light';
  src: url('../../fonts/roboto-Light.eot');
  src: local('☺'), url('../../fonts/roboto-Light.woff') format('woff'), url('../../fonts/roboto-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
  