@import 'variables.scss';
@import 'fonts.scss';

body {
  font-family: 'Conv_roboto-Regular';
  font-size: 22px;
}

.page {
  max-width: 1280px;
  min-width: 320px;
  min-height: 900px;
  margin: 0 auto;
  padding-bottom: 180px;
  background: url("../../common.blocks/_common/img/our_goal.png") no-repeat 31px 229px,
  url("../../common.blocks/_common/img/ease_of_implementation.png") no-repeat right bottom;
  background-size:auto; 
}