include ../../common.blocks/checkbox/checkbox

mixin form-checkbox(check1,check2,check3,check4,check5,check6,check7,check8,check9,check10,check11,check12)
  .form-checkbox
    .form-checkbox_text
      h2= "Расскажите о себе чекбоксами"
      p= "Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться."
    
    .form-checkbox_row-flex
      .form-checkbox_column-flex
        +checkbox("HTML","HTML",""+check1)
        +checkbox("Css","Css",""+check2)
        +checkbox("JS","JS",""+check3)
        +checkbox("Bootstrap3","Bootstrap3",""+check4)
        
      .form-checkbox_column-flex
        +checkbox("JQuery","JQuery",""+check5)
        +checkbox("GULP","GULP",""+check6)
        +checkbox("Sass","Sass",""+check7)
        +checkbox("БЭМ","БЭМ",""+check8)
        
      .form-checkbox_column-flex
        +checkbox("Webpack","Webpack",""+check9)
        +checkbox("ES6","ES6",""+check10)
        +checkbox("Vuejs","Vuejs",""+check11)
        +checkbox("Nuxtjs","Nuxtjs",""+check12)