mixin formData(name, year, town, skype, eMail)
  .form-data_name
    |Полное ФИО
  .form-data_year
    |Год рождения
  .form-data_town
    |Место жительства
  .form-data_skype
    |Скайп
  .form-data_e-mail
    |Почта